<%= stylesheet_link_tag    "custom", media: "all" %>

<div class="row-fluid">
	<div class="col-md-4 well center">	

	  	<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
			<% if @user.errors.any? %>
				<div class="alert alert-info" role="alert">
					<span><%= @user.errors.full_messages[0] %></span>
				</div>
			<% end %>

			<fieldset>

				<% if @user.persisted? %>
					<legend>Edit Account</legend>
				<% else%>
					<legend>Create Account</legend>
				<% end %>

				<div class="control-group">			

					<%= f.label :email %>

					<div class="controls">
						<%= f.text_field :email, :class => "form-control" %>
					</div>
					
				</div>

				<div class="control-group">			

					<%= f.label :first_name %>

					<div class="controls">
						<%= f.text_field :first_name, :class => "form-control" %>
					</div>
					
				</div>

				<div class="control-group">			

					<%= f.label :last_name %>

					<div class="controls">
						<%= f.text_field :last_name, :class => "form-control" %>
					</div>
					
				</div>

				<div class="control-group">	

					<%= f.label :password %>

					<div class="controls">
						<%= f.password_field :password, :class => "form-control" %>
					</div>
				</div>

				<div class="control-group">	

					<%= f.label :password_confirmation %>

					<div class="controls">
						<%= f.password_field :password_confirmation, :class => "form-control" %>
					</div>
				</div>

				<% if current_user && current_user.access == 1 %>
					<div class="control-group">	

						<%= f.label(:access, "User Access Level") %><br />

						<select name="user[access]" class="controls">
							<option></option>
					  		<option value="1">SuperManager</option>
				  			<option value="2">Manager</option>
			  				<option value="3">Staffer</option>
						</select> 

					</div>

					<%= f.fields_for :memberships do |b| %>

						<div class="control-group">	

				    		<%= b.label :team_id, "Assign account to a team." %><br />

				    		<div class="controls">
								<%= b.collection_select :team_id, Team.order(:id),:id,:name, include_blank: true %>
							</div>

						</div>

			  		<% end %>

				<% else %>

					<%= f.fields_for :memberships do |b| %>

						<%= b.hidden_field :team_id, :value => current_user.teams[0].id %>

			  		<% end %>

					<%= f.hidden_field :access, :value => 3 %>

					
				<% end %>


				<div class="form-actions sub">
					<%= f.submit :class => "btn btn-primary" %>
				</div>

			</fieldset>

		<% end %>

	</div>
</div>
