<%= form_for(@contact_form) do |f| %>
  <% if @contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
      <% @contact_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="new_contact_form" id="new_contact_form" action="/contact_forms" accept-charset="UTF-8" method="post">
    
    <div class="field">
      <label for="contact_form_full_name">
        Full Name
      </label><br>
      <input placeholder="ex: joe@joe.com" type="text" name="contact_form[full_name]" id="contact_form_full_name">
    </div>
    
    <div class="field">
      <label for="contact_form_email">
        Email
      </label><br>
      <input type="text" name="contact_form[email]" id="contact_form_email">
    </div>
    
    <div class="field">
      <label for="contact_form_order_num">
        Order Num
      </label><br>
      <input type="text" name="contact_form[order_num]" id="contact_form_order_num">
    </div>
    
    <div class="field">
      <label for="contact_form_comments">
        Comments
      </label><br>
      <textarea type="text" name="contact_form[comments]" id="contact_form_comments"></textarea>
    </div>
    
    <div class="field">
      <label for="contact_form_subject">
        Subject
      </label><br>
      <select name="contact_form[subject_id]" id="contact_form_comments">
        <% Subject.order('priority ASC').each do |x| %>
          <option value=<%=x.id%>>
            <%= x.name%>
          </option>
        <% end %>
      </select>
    </div>
    
    <div class="actions">
      <input type="submit" name="commit" value="Create Contact Form">
    </div>
  </form>
<% end %>

<h2>Placeholder Contact Form</h2>

<%= form_for(@contact_form) do |f| %>
  <% if @contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
      <% @contact_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="new_contact_form" id="new_contact_form" action="/contact_forms" accept-charset="UTF-8" method="post">
    
    <div class="field">
      <label for="contact_form_full_name">
        Full Name
      </label><br>
      <input placeholder="Full Name" type="text" name="contact_form[full_name]" id="contact_form_full_name">
    </div>
    
    <div class="field">
      <label for="contact_form_email">
        Email
      </label><br>
      <input placeholder="Email" type="text" name="contact_form[email]" id="contact_form_email">
    </div>
    
    <div class="field">
      <label for="contact_form_order_num">
        Order Num
      </label><br>
      <input placeholder="Order Number" type="text" name="contact_form[order_num]" id="contact_form_order_num">
    </div>
    
    <div class="field">
      <label for="contact_form_comments">
        Comments
      </label><br>
      <textarea placeholder="enter comments here" type="text" name="contact_form[comments]" id="contact_form_comments"></textarea>
    </div>
    
    <div class="field">
      <label for="contact_form_subject">
        Subject
      </label><br>
      <select name="contact_form[subject_id]" id="contact_form_comments">
        <% Subject.order('priority ASC').each do |x| %>
          <option value=<%=x.id%>>
            <%= x.name%>
          </option>
        <% end %>
      </select>
    </div>
    
    <div class="actions">
      <input type="submit" name="commit" value="Create Contact Form">
    </div>

  </form>
<% end %>

<h2>Stylized labels and placholder hints</h2>

<%= form_for(@contact_form) do |f| %>
  <% if @contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
      <% @contact_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="new_contact_form" id="new_contact_form" action="/contact_forms" accept-charset="UTF-8" method="post">
    
    <div class="field">
      <label for="contact_form_full_name" class="label">
        Full Name
      </label><br>
      <input placeholder="Full Name" type="text" name="contact_form[full_name]" id="contact_form_full_name">
    </div>
    
    <div class="field">
      <label for="contact_form_email" class="label">
        Email
      </label><br>
      <input placeholder="Email" type="text" name="contact_form[email]" id="contact_form_email">
    </div>
    
    <div class="field">
      <label for="contact_form_order_num" class="label">
        Order Num
      </label><br>
      <input placeholder="Order Number" type="text" name="contact_form[order_num]" id="contact_form_order_num">
    </div>
    
    <div class="field">
      <label for="contact_form_comments" class="label">
        Comments
      </label><br>
      <textarea placeholder="enter comments here" type="text" name="contact_form[comments]" id="contact_form_comments"></textarea>
    </div>
    
    <div class="field">
      <label for="contact_form_subject" class="label">
        Subject
      </label><br>
      <select name="contact_form[subject_id]" id="contact_form_comments">
        <% Subject.order('priority ASC').each do |x| %>
          <option value=<%=x.id%>>
            <%= x.name%>
          </option>
        <% end %>
      </select>
    </div>
    
    <div class="actions">
      <input type="submit" name="commit" value="Create Contact Form">
    </div>

  </form>
<% end %>

  <h2>Aria Label Attributes</h2>

<%= form_for(@contact_form) do |f| %>
  <% if @contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
      <% @contact_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="new_contact_form" id="new_contact_form" action="/contact_forms" accept-charset="UTF-8" method="post">
    
    <div class="field">
      <label for="contact_form_full_name" class="label">
        Full Name
      </label><br>
      <input placeholder="Full Name" type="text" name="contact_form[full_name]" id="contact_form_full_name" aria-label="value" aria-invalid='false'>
    </div>
    
    <div class="field">
      <label for="contact_form_email" class="label">
        Email
      </label><br>
      <input placeholder="Email" type="text" name="contact_form[email]" id="contact_form_email" aria-label="value" aria-invalid='false'>
    </div>
    
    <div class="field">
      <label for="contact_form_order_num" class="label">
        Order Num
      </label><br>
      <input placeholder="Order Number" type="text" name="contact_form[order_num]" id="contact_form_order_num" aria-label="value" aria-invalid='false'>
    </div>
    
    <div class="field">
      <label for="contact_form_comments" class="label">
        Comments
      </label><br>
      <textarea placeholder="enter comments here" type="text" name="contact_form[comments]" id="contact_form_comments" aria-label="value" aria-invalid='false'></textarea>
    </div>
    
    <div class="field">
      <label for="contact_form_subject" class="label">
        Subject
      </label><br>
      <select name="contact_form[subject_id]" id="contact_form_comments" aria-label="value" aria-invalid='false'>
        <% Subject.order('priority ASC').each do |x| %>
          <option value=<%=x.id%>>
            <%= x.name%>
          </option>
        <% end %>
      </select>
    </div>
    
    <div class="actions">
      <input type="submit" name="commit" value="Create Contact Form">
    </div>
    
  </form>
<% end %>