<% users = User.where(:access => 3) %>

<div class="row-fluid">
	<div class="col-md-4 well center">	

		<%= form_for @task, :html => {:class => "form-horizontal"} do |f| %>
			<% if @task.errors.any? %>
				<div class="error_messages">
					<h2>Form is invalid</h2>
					<ul>
						<% for message in @task.errors.full_messages %>
							<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<fieldset>

				<% if @task.persisted? %>
					<legend>Edit Task</legend>
				<% else%>
					<legend>Create Task</legend>
				<% end %>

				<div class="control-group">	

					<%= f.label :title %><br />

					<div class="controls">
						<%= f.text_field :title, :class => 'form-control' %>
					</div>

				</div>

				<div class="control-group">	

					<%= f.label :body %><br />

					<div class="controls">
						<%= f.text_field :body, :class => 'form-control' %>
					</div>
					
				</div>

				<%= f.label :user_id, "Staffer to assign task to." %><br />
				<%= f.collection_select :user_id, users.order(:email),:id,:email, include_blank: true %>

				<%= f.hidden_field :manager_id, :value => current_user.id %>

				<div class="form-actions sub">
					<%= f.submit :class => "btn btn-primary" %>
				</div>

			</fieldset>
		<% end %>

	</div>
</div>