<h1>Contact Email</h1>

<p>name: <%= @contact_form.full_name %></p>
<p>email: <%= @contact_form.email %></p>
<p>order number: <%= @contact_form.order_num %></p>
<p>comments: <%= @contact_form.comments %></p>
<p>subject: <%= @contact_form.subject.name %></p>