<h2>Accounts</h2>

<li><%= link_to "Add new Account", sign_up_path %></li>
<li><%= link_to "Add new Team", new_team_path %></li>

<table>

	<% i=0 %>

	<% @accounts.each do |acc| %>
	
		<% i = i + 1 %>

		<tr>
			
			<td>
				<%= "#{i} - " %>
			</td>

        	<td>
        		<%= acc.email %> |
        	</td>

        	<% if acc.teams != [] %>
        		<td>
        			<%= acc.teams[0].name %> |
        		</td>
        	<% end %>

        	<td><%= link_to 'Edit', edit_user_path(acc) %></td>

        	<td><%= link_to 'Destroy', user_path(acc), method: :delete,data: { confirm: 'Are you sure?' } %></td>

        	<% if acc.active %>
        		<td><%= link_to 'Suspend', suspend_path(acc), data: { confirm: 'Are you sure?' } %></td>
    		<% else %>
    			<td><%= link_to 'Activate', activate_path(acc), data: { confirm: 'Are you sure?' } %></td>
			<% end %>

		</tr>

	<% end %>

</table>