<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %>
	</p>

	<% if current_user && current_user.access == 1 %>
		<p>
			<%= f.label(:access, "User Access Level") %><br />
			<select name="user[access]">
				<option></option>
		  		<option value="1">SuperManager</option>
	  			<option value="2">Manager</option>
  				<option value="3">Staffer</option>
			</select> 
		</p>

		<%= f.fields_for :memberships do |b| %>

    		<%= b.label :team_id, "Assign account to a team." %><br />
			<%= b.collection_select :team_id, Team.order(:id),:id,:name, include_blank: true %>

  		<% end %>

	<% else %>

		<%= f.hidden_field :access, :value => 3 %>
		
	<% end %>

	<p class="button"><%= f.submit %></p>
	
<% end %>
