<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %>
	</p>

	<% if current_user && current_user.access == 1 %>
		<p>
			<%= f.label(:access, "User Access Level") %><br />
			<%= f.select :access, options_for_select(1..3) %>
		</p>

		<%= f.fields_for :memberships do |b| %>

    		<%= b.label :team_id, "Assign account to a team." %><br />
			<%= b.collection_select :team_id, Team.order(:name),:id,:name, include_blank: true %>

  		<% end %>
	<% end %>

	<p class="button"><%= f.submit %></p>
	
<% end %>
