<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">Tasks</h1>
    </div>
    
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
	        <th>Title</th>
	        <th>Staffer</th>
	        <th>Manager</th>
	        <th></th>
	        <th></th>
		</tr>
	</thead>

	<% i=0 %>
	<tbody>

		<% @tasks.each do |task| %>
		
			<% i = i + 1 %>
			<% staffer = User.find(task.user_id) %>
			<% manager = User.find(task.manager_id) %>

			<tr>
				
				<td>
					<%= "#{i}" %>
				</td>

	        	<td>
	        		<%= task.title %>
	        	</td>

	        	<td>
	        		<%= staffer.email %>
				</td>

				<td>
	        		<%= manager.email %>
				</td>

				<td>
					<%= link_to "View", task_path(task) %>
				</td>

			</tr>

		<% end %>
		
	</tbody>
</table>
