<% if current_user %>

	<% if current_user.access == 1 %>

		<div class="container well center">

			<legend>Super Manager Dash</legend>

			<div class='row'>
				<div class="col-md-4"><i class="fa fa-user fa-lg"></i><%= link_to "Accounts", users_path %></div>
				<div class="col-md-4"><i class="fa fa-tasks fa-lg"></i><%= link_to "Tasks", tasks_path %></div>
				<div class="col-md-4"><i class="fa fa-users fa-lg"></i><%= link_to "Teams", teams_path %></div>				
			</div>
		</div>

	<% elsif current_user.access == 2 %>

		<div class="container well center">

			<legend>Manager Dash</legend>

			<div class="row">
				<div class="col-md-4"><i class="fa fa-user fa-lg"></i><%= link_to "Accounts", users_path %></div>
				<div class="col-md-4"><i class="fa fa-tasks fa-lg"></i><%= link_to "Tasks", tasks_path %></div>
			</div>
		</div>		

	<% else %>

		<%= render partial: "tasks" %>


	<% end %>

<% else %>
	
	<%= render :partial => "sessions/new" %>

<% end %>
