<%= stylesheet_link_tag    "custom", media: "all" %>

<div class="row-fluid">
	<div class="col-md-4 well center">	
		<fieldset>
			<legend>Title: <%= @task.title %></legend>

			<div class="control-group">	

				<p>Description: <%= @task.body %></p>	

			</div>
		</fieldset>
	</div>
</div>

<% i=0 %>

<h3>Updates</h3>

<% if current_user.access == 3 %>

	<%= link_to "Add new Update", new_update_path(task_id: @task.id) %>

<% end %>

<table class="table table-hover">

	<thead>
		<tr>
			<th>#</th>
	        <th>Title</th>
	        <th>Body</th>
	        <th>Staffer</th>
	        <th>Update Time</th>
		</tr>
	</thead>

	<tbody>

		<% @updates.each do |x| %>
		
			<% i = i + 1 %>

			<tr>
				
				<td>
					<%= "#{i} - " %>
				</td>

	        	<td>
	        		<%= x.title %>
	        	</td>

	        	<td>
	        		<%= x.body %>
				</td>

				<td>
	        		<%= User.where(:id => x.user_id)[0].email %>
				</td>

				<td>
	        		<%= x.created_at.strftime("%m/%d/%Y %I:%M %p") %>
				</td>
			</tr>

		<% end %>
	</tbody>

</table>



	

