<h2><%= @task.title %></h2>


<p><%= @task.body %></p>

<% i=0 %>

<table>

	<tr>
			
		<td>
			
		</td>

    	<td>
    		Title
    	</td>

		<td>
    		Body
		</td>

		<td>
    		Update Time
		</td>

	</tr>

	<% @updates.each do |x| %>
	
		<% i = i + 1 %>

		<tr>
			
			<td>
				<%= "#{i} - " %>
			</td>

        	<td>
        		<%= x.title %>
        	</td>

        	<td>
        		<%= x.body %>
			</td>

			<td>
        		<%= x.created_at.strftime("%m/%d/%Y %I:%M %p") %>
			</td>
		</tr>

	<% end %>
</table>

</br>
</br>


<% if current_user.access == 3 %>
	
	<%= link_to "Add new Update", new_update_path(task_id: @task.id) %>

<% end %>




	

