<%= stylesheet_link_tag    "custom", media: "all" %>

<div class="row-fluid">
	<div class="col-md-4 well center">

		<%= form_for @update, :html => {:class => "form-horizontal"} do |f| %>
			<% if @update.errors.any? %>
				<div class="error_messages">
					<div class="alert alert-info" role="alert">
						<span><%= @update.errors.full_messages[0] %></span>
					</div>
				</div>
			<% end %>

			<fieldset>

				<legend>Create Update</legend>

				<div class="control-group">	

					<%= f.label :title %><br />

					<div class="controls">
						<%= f.text_field :title, :class => "form-control" %>
					</div>

				</div>

				<div class="control-group">	

					<%= f.label :body %><br />

					<div class="controls">
						<%= f.text_area :body, :class => "form-control" %>
					</div>
					
				</div>

				<%= f.hidden_field :task_id, :value => @task_id %>
				<%= f.hidden_field :user_id, :value => current_user.id %>

				<div class="form-actions sub">
					<%= f.submit :class => "btn btn-primary" %>
				</div>

		</fieldset>
			
		<% end %>

	</div>
</div>