<!DOCTYPE html>
<html>

  <head>
    <title>TaskManager</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top nav_pad">
     
      <div class="container-fulid">

        <div class="navbar-header">

         <%= link_to "Task Manager", root_path, class:"navbar-brand" %>

        </div>

        <ul class="nav navbar-nav">
          <% if current_user && current_user.access == 1 %>
            <li><%= link_to "Accounts", users_path %></li>
            <li><%= link_to "Tasks", tasks_path %></li>
            <li><%= link_to "Teams", teams_path %></li>
          <% elsif current_user && current_user.access == 2 %>
            <li><%= link_to "Accounts", users_path %></li>
            <li><%= link_to "Tasks", tasks_path %></li>            
          <% else %>
  
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li class="navbar-text"><%= current_user.email %></li>
            <li><%= link_to "Log out", log_out_path %></li>
          <% else %>
            <li><%= link_to "log in", log_in_path %></li>
          <% end %>
        </ul>

      </div>
    </nav>

  	<% flash.each do |name, msg| %>
      <div class="container">
        
        <div class="row">
          <div class="alert alert-info span4 offset4 " role="alert"><%= content_tag :div, msg, :id => "flash_#{name}" %></div>
        </div>	
  
      </div>    
	
  	<% end %>

    <div><%= yield %></div>
    
    


  </body>

</html>
